

<html>
    
    <head>
        <title>Ekansh Better</title>
        <link rel="stylesheet" href="assets/css/credits.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
        <link href="https://db.onlinewebfonts.com/c/353b79b2ea9db02690b55e55fb094e08?family=Bold" rel="stylesheet" type="text/css"/>
        <script type="module" src="https://unpkg.com/@splinetool/viewer@1.10.7/build/spline-viewer.js"></script>
    </head>
    <body >
        <spline-viewer url="https://prod.spline.design/Ud9Exp3rGMSSh6Ed/scene.splinecode"></spline-viewer>
        <div  class="container">
            <div class="navbar">
                <span><a class="alink" href="/">CRYPT.IT</a></span>
                <span><a class="alink" href="/problems">PLAY</a></span>
                <span><a class="alink" href="/leaderboard">LEADERBOARD</a></span>
                <span><a class="alink" href="/credits">CREDITS</a></span>
            </div>


            <span class="cryptit">CREDITS</span>
            <div class="crednames">
                <div class="subcrednames">
                    <span class="credheading design">Designing</span>
                    <span class="credname">Pranav Kapur</span>
                </div>
                <div class="subcrednames">
                    <span class="credheading frontend">Front End</span>
                    <span class="credname"><a class="credname" href="https://www.linkedin.com/in/ekansh-gupta-b49249312/">Ekansh Gupta</a></span>
                </div>

                <div class="subcrednames">
                    <span class="credheading backhand">Backend</span>
                    <span class="credname">Parin Khurana</span>
                    <span class="credname">Rishik Goyal</span>
                </div>
            </div>
                <div class="bottomdiv">
            <p>在赛博朋克的世界里，高科技和黑暗势力共存。人们身处于发达<br>的城市中，但生活却一直受到巨大的限制和控制。虚拟世界和现<br>实世界之间的界限愈来愈模糊，让人们感到困惑和迷失。</p>

            <div class="bottomright">
                <img src="assets/images/stripes.svg">
            </div>
            </div>
        </div>
    </body>
</html>