<html>
    
    <head>
        <title>Parin Goat</title>
        <link rel="stylesheet" href="assets/css/dashboard.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
        <link href="https://db.onlinewebfonts.com/c/353b79b2ea9db02690b55e55fb094e08?family=Bold" rel="stylesheet" type="text/css"/>
        <script type="module" src="https://unpkg.com/@splinetool/viewer@1.10.7/build/spline-viewer.js"></script>
    </head>
    <body >
        <spline-viewer url="https://prod.spline.design/Ud9Exp3rGMSSh6Ed/scene.splinecode"></spline-viewer>
        <div  class="container">
            <div class="navbar">
                <span>CRYPT.IT</span>
                <span>PLAY</span>
                <span>LEADERBOARD</span>
            </div>


        <div class="teamdetails">
            <div class="avatar">
                <span>Error!<br><br> Avatar Not Found</span>
            </div>
            <div class="maindetails">
                 <div class="Details">
                    <span>Name :</span>
                    </div>
                    <div class="Details">
                    <span>Discord id :</span>
                    </div>
                    <div class="Details">
                    <span>Email :</span>
                    </div>
                    <div class="Details">
                    <span>Team Name :</span>
                </div>
            </div>

        </div>

        
        <div class="bottomdetails">
            <div class="level">
                <div>Level  1/15</div>
                <div class="icons">
                    <img src="assets/images/filter.svg">
                    <img src="assets/images/expand.svg">
                    <img src="assets/images/ellipsis-horizontal.svg">
                </div>
            </div>
            <div class="aboutguidelines">
                <div class="guidelinesdetails">
                    <div class="arrowbox">
                        <img class="arrow" src="assets/images/arrow.svg">
                    </div>
                    <div class="textt">About The Event</div>
                </div>
                <div class="guidelinesdetails">
                    <div class="arrowbox">
                        <img class="arrow" src="assets/images/arrow.svg">
                    </div>
                    <div class="textt">About The Event</div>
                </div>
                <div class="guidelinesdetails">
                    <div class="arrowbox">
                        <img class="arrow" src="assets/images/arrow.svg">
                    </div>
                    <div class="textt">About The Event</div>
                </div>
            </div>
        </div>
                <div class="bottomdiv">
            <p>在赛博朋克的世界里，高科技和黑暗势力共存。人们身处于发达<br>的城市中，但生活却一直受到巨大的限制和控制。虚拟世界和现<br>实世界之间的界限愈来愈模糊，让人们感到困惑和迷失。</p>

            <div class="bottomright">
                <img src="assets/images/stripes.svg">
            </div>
            </div>
        </div>
    </body>
</html>