<html>
    
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="assets/css/style.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
        <link href="https://db.onlinewebfonts.com/c/353b79b2ea9db02690b55e55fb094e08?family=Bold" rel="stylesheet" type="text/css"/>
        <script type="module" src="https://unpkg.com/@splinetool/viewer@1.10.7/build/spline-viewer.js"></script>
    </head>
    <body >

<spline-viewer url="https://prod.spline.design/zIRnwMQmpH7ESqwz/scene.splinecode"></spline-viewer>
        <div class="topdiv zindexx">
            <div class="subdiv sidediv">
                <h1>BYTE CLUB</h1>
                <p>Established in 2017, Byte is the technology club of Bal Bharati Public School, Pitampura. We're a team of technology enthusiasts, our skills ranging from programming to designing.</p>
            </div>
            <div class="subdiv midiv">
                <h1>11:59 pm 27 June</h1>
                <h1>to</h1>
                <h1>11:59 pm 28 June</h1>
            </div>

            <div class="subdiv sidediv">
                <h1>CRYPT.IT</h1>
                <p>People are constantly restricted and controlled in this developed city, where the boundary between virtual and real worlds becomes increasingly blurred. </p>
            </div>
        </div>
            <div class="cineees">
                <p>在赛博朋克的世界里，高科技和黑暗势力共存。人们身处于发达<br>的城市中，但生活却一直受到巨大的限制和控制。虚拟世界和现<br>实世界之间的界限愈来愈模糊，让人们感到困惑和迷失。</p>
            </div>
        <div class="centertext zindexx  ">
            <span class="cryptit">CRYPT.IT</span>
            <button class="slanted-box" onclick="window.location.href='login'">
  PLAY <img class="startarrow" src="assets/images/arrow.svg">
</button>


        </div>

        <div class="bottomdiv">
            <p>In the world of Cyberpunk, high technology and dark<br> forces coexist. People live in developed cities,<br> but their lives are constantly restricted and<br> controlled. The boundary between virtual and real<br> worlds is becoming increasingly blurred, leaving<br> people confused and lost.</p>
            <div class="ghatiya-wrapper">
                <div class="ghatiya-border"></div>
            <div class="ghatiya">
            <div class="bricons">
                <img src="assets/images/icon 1.svg">
                <img src="assets/images/icon 2.svg">
                <img src="assets/images/icon 3.svg">
            </div>
            <div class="bottomright">
                <div class="brleft">
                    <img src="assets/images/barcode_1.png">
                    <p>DESIGNED - BY -  PRANAV</p>
                    
                </div>
                <div class="brright">
                    <p class="vol7">VOL.07</p>
                    <img src="assets/images/barcode_1.png">
                </div>
                <div class="test"></div>
            </div>
            </div></div>
        </div>
    </body>
</html>
