@import url('https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
  font-family: vol7;
  src: url('../fonts/Xolonium-Regular.ttf');
}

@font-face {
  font-family: vol7bold;
  src: url('../fonts/Xolonium-Bold.ttf');
}

@font-face {
  font-family: Akira;
  src: url('../fonts/Akira\ Expanded\ Demo.otf');
}

@font-face {
  font-family: Enox;
  src: url('../fonts/WarriotTech-rvdRp.ttf');
}

@font-face {
  font-family: EnoxI;
  src: url('../fonts/WarriotTechItalic-YqOoa.ttf');
}

@font-face {
  font-family: Discopia;
  src: url('../fonts/Discopia\ Regular.ttf');
}


@font-face {
  font-family: Kernel;
  src: url('../fonts/Kernel-Light.otf');
}


@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/Orbitron/orbitron-black.otf');
  font-weight: 900; /* Black */
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/Orbitron/orbitron-bold.otf') format('truetype');
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/Orbitron/orbitron-medium.otf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../fonts/Orbitron/orbitron-light.otf') format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
}


body{
    background-size: 35rem; /* or 'contain' or 'auto' */
    background-repeat: no-repeat;
    background-position: center calc(50% + 70px);
    background-color: black;
    height: 98vh;
    overflow: hidden;
    color: white;
    font-family: 'Orbitron', monospace;
    padding: 3rem 7rem;
    margin-bottom: 3rem;


    
}
.container{
    border: 1px white solid;
    height: 90%;
    width: 100%;
    padding: 0;
    box-shadow: 0 0 5px white, 0 0 5px white; 
}
.navbar{
    color: black;
    background-color: white;
    width: max-content;
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: space-between;
    padding: .4rem;
    padding-left: 1rem;
    width: max-content;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}
.teams{
  display: flex;
    height: 10%;
    align-items: center;
    border: 1px solid #FFF;
box-shadow: 0px 0px 7px 0px #FFF;
}
.position{
  border: 1px solid #FFF;
background: #FFF;
box-shadow: 0px 0px 8px 0px #FFF;
width: 3.5%;
height: 100%;
flex-shrink: 0;
display: flex;
align-items: center;
justify-content: center;
color: #000;
font-size: 1.2rem;
font-style: normal;
font-weight: 300;
line-height: normal;
}
.allteams{
        padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  height: 87%;}

.teampfp{
  margin: 1rem;
  background: #D9D9D9;
  height: 20%;
  aspect-ratio: 1;
  height: 65%;
}
.participantname{
  color: #FFF;
text-shadow: 0px 0px 8px #FFF;

font-size: 16px;
font-style: normal;
font-weight: 30;
line-height: normal;
}

.text{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-right: 1rem;
}
.points, .teamname{
  font-weight: 300;
}